body {
  background: url(./cv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  color: #fff;
}

.cv {
  display: flex;
}

.cv-first,
.sv-second {
  display: flex;
  flex-direction: column;
}

.first__title,
.second__title {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.first__title {
  color: #384157;
}

.second__title {
  color: #d18370;
}

.first__avatar {
  background: url(./ava.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.first__professional-skills {
}
