body {
  background: rgb(194, 219, 240);
  font-size: 14px;
  color: #384157;
  font-family: 'Montserrat';
}

._container {
  max-width: 720px;
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #384157;
  text-decoration: none;
}

.cv {
  display: flex;
  position: relative;
  background: url(./cv.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cv-first,
.cv-second {
  display: flex;
  flex-direction: column;
}

.first__title,
.second__title {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.first__title {
  color: #384157;
}

.second__title {
  color: #d18370;
}

.first__avatar {
  background: url(./ava.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  align-self: center;
}

.second__portfolio-link {
  font-size: 16px;
  color: #d18370;
  border: 1px solid #384157;
  padding: 10px 20px;
}

.about__title {
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 0.1rem;
}

.about__subtitle {
  text-transform: uppercase;
}

@media (min-width: 320px) and (max-width: 600px) {
  .cv {
    display: flex;
    flex-direction: column;
  }
  .cv-first {
    order: 1;
  }
  .cv-first,
  .cv-second {
    height: 100%;
  }
  .first__avatar {
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 120px;
  }

  .about__title {
    font-size: 25px;
  }
  .about__subtitle {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 410px) {
  body {
    font-size: 13px;
  }
  .about__title {
    font-size: 20px;
  }
  .about__subtitle {
    font-size: 14px;
  }
  .first__avatar {
    width: 80px;
    height: 80px;
    top: 15px;
  }
}
