body {
    font-family: 'Roboto Regular';
}

.h1 {
    margin-top: 30px;
    font-weight: 600;
}

.h4 {
    margin-left: 20px;
    font-weight: 500;
    color: black;
}

.h3 {
    font-weight: 600;
    margin-top: 20px;
}

.h6 {
    font-style: italic;
}

.p {
    font-size: 20px;
}

.container-my {
    max-width: 1600px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.main__name {
    font-size: 100px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 45px;
    color: white;
    font-weight: 900;
}

.my__photo {
    width: 350px;
    height: 350px;
    margin-left: 30px;
    margin-top: 50px;
    position: absolute;
}

.main__row {
    background-color: #5893CD;
}

.underMain__row {
    background-color: #BAD823;
    margin-top: 2px;
}

.underMain__prof {
    text-align: center;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.info__col-1 {
    margin-top: 120px;
    margin-left: 30px;
}

.icon__flex {
    display: flex;
    font-size: 25px;
    margin-top: 15px;
}

.info__skills-row-html {
    background-color: #5893CD;
    width: 210px;
    height: 7px;
}

.info__skills-row-btsrtp {
    background-color: #5893CD;
    width: 190px;
    height: 7px;
}

.info__skills-row-css {
    background-color: #5893CD;
    width: 200px;
    height: 7px;
}

.info__skills-row-js {
    background-color: #5893CD;
    width: 100px;
    height: 7px;
}

.info__skills-row-git {
    background-color: #5893CD;
    width: 50px;
    height: 7px;
}

.info__skills-row-figma {
    background-color: #5893CD;
    width: 150px;
    height: 7px;
}

.info__skills-row-vs {
    background-color: #5893CD;
    width: 240px;
    height: 7px;
}

.education-flex {
    display: flex;
}

.h4-1 {
    font-weight: 600;
}

.education-flex__col {
    margin-left: 20px;
}